
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#">ES6 trainning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="true" aria-expanded="false">Exercices</a>

        <div class="dropdown-menu">
          {{#each chapters}}
            <a class="dropdown-item" href="{{ link }}">{{ name }}</a>
          {{/each}}

        </div>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="true" aria-expanded="false">Practices</a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="/variables">Practice 1</a>
        </div>

      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Prohibido</a>
      </li>

    </ul>

  </div>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav>


<script type="text/javascript">

  $(document).ready(function(){
    if(localStorage.regionCode)
      console.log('menu loaded');

  })

</script>
